@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: Arial, sans-serif;
   
   
}

/* Header */
.header {
    background-color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hero Section */
.hero {
    padding: 3rem 0;
   
}

.hero__image img {
    width: 50%;
    height: auto;
}
.hero__container {
    display: flex;
}
.hero__container--right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.hero__title {
    font-size: 2.5rem;
    margin-top: 1rem;
    
}

.hero__subtitle {
    font-size: 1.5rem;
    color: #1c1f50;
}

.hero__description {
    margin: 1.5rem 0;
}

 .btn {
    background-color: #1c1f50;
    border: none;
}

/* Skills Section */
.skills {
    padding: 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.skills__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.skill img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

/* Projects Section */
.projects {
    padding: 3rem 0;
    background-color: #fff;
}

.projects__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.project img {
    max-width: 100%;
    height: auto;
}

.project__title {
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

/* Contact Section */
.contact {
    padding: 3rem 0;
}

.contact__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.contact__form .form-control {
    margin-bottom: 1rem;
}

.contact .btn {
    background-color: #1c1f50;
    border: none;
}

.contact__info p {
    margin: 0.5rem 0;
}

/* Custom colors for icons */
.html-icon {
    color: #e34c26;
}

.css-icon {
    color: #264de4;
}

.sass-icon {
    color: #cc6699;
}

.bootstrap-icon {
    color: #563d7c;
}

.git-icon {
    color: #f34f29;
}

.github-icon {
    color: #333;
}

.js-icon {
    color: #f7df1e;
}

.vue-icon {
    color: #42b883;
}